<a href="https://colab.research.google.com/github/adi-dev-vikram/IoT_botnet_detection/blob/main/Iot_botnet_detection_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.preprocessing import StandardScaler
df_train = pd.read_csv('/content/gdrive/MyDrive/UNSW_2018_IoT_Botnet_Final_10_best_Training.csv')

In [9]:
df_train.head()

   pkSeqID proto            saddr  sport  ...       max attack  category  subcategory
0  3142762   udp  192.168.100.150   6551  ...  4.031619      1      DDoS          UDP
1  2432264   tcp  192.168.100.150   5532  ...  4.012924      1      DDoS          TCP
2  1976315   tcp  192.168.100.147  27165  ...  3.609205      1      DDoS          TCP
3  1240757   udp  192.168.100.150  48719  ...  4.942302      1       DoS          UDP
4  3257991   udp  192.168.100.147  22461  ...  4.994452      1      DDoS          UDP

[5 rows x 19 columns]

In [10]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2934817 entries, 0 to 2934816
Data columns (total 19 columns):
 #   Column             Dtype
---  ------             -----
 0   pkSeqID            int64
 1   proto              object
 2   saddr              object
 3   sport              object
 4   daddr              object
 5   dport              object
 6   seq                int64
 7   stddev             float64
 8   N_IN_Conn_P_SrcIP  int64
 9   min                float64
 10  state_number       int64
 11  mean               float64
 12  N_IN_Conn_P_DstIP  int64
 13  drate              float64
 14  srate              float64
 15  max                float64
 16  attack             int64
 17  category           object
 18  subcategory        object
dtypes: float64(6), int64(6), object(7)
memory usage: 425.4+ MB

In [12]:
df_train.drop(["pkSeqID","seq","subcategory"], axis=1, inplace=True)

In [15]:
df_train.dtypes[df_train.dtypes=='object']

proto       object
saddr       object
sport       object
daddr       object
dport       object
category    object
dtype: object

In [16]:
df_train['proto'].value_counts()

udp          1596819
tcp          1330598
icmp            7228
arp              166
ipv6-icmp          6
Name: proto, dtype: int64

In [17]:
df_train['saddr'].value_counts()

192.168.100.147              761360
192.168.100.148              738642
192.168.100.150              712260
192.168.100.149              711466
192.168.100.3                  6609
192.168.100.5                  4107
192.168.100.6                   272
192.168.100.7                    34
192.168.100.4                    17
192.168.100.1                    14
192.168.100.27                    9
192.168.100.46                    8
fe80::250:56ff:febe:254           5
192.168.100.55                    3
fe80::2c6a:ff9b:7e14:166a         2
fe80::250:56ff:febe:c038          2
fe80::c0c0:aa20:45b9:bdd9         2
fe80::250:56ff:febe:89ee          2
fe80::250:56ff:febe:26db          2
fe80::250:56ff:febe:e9d9          1
Name: saddr, dtype: int64